#banner{
    padding-left: 15px;
    padding-right: 15px;
    background: url('../img/webSiteMap.png') no-repeat;
}
.web_mapCon{
    margin-bottom: 4%;
}
.web_mapCon div:nth-child(1){
    font-size: 24px;
    margin-bottom: 2%;
}
.web_mapCon div:nth-child(1) a{
    color: #0acec8;
}
.web_mapCon div a{
    text-decoration: none;
    color: #666666;
}
.web_mapCon div a:hover{
    border-bottom: 2px solid #1A9BFF;
}
.web_mapCon div span{
    font-size: 20px;
    margin-right: 2.6rem;
}